XSD_III/Ejercicio_03/articulos.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Nombre: [Naiara Cuenca Juanas]
Curso: [ASIR1]
Fecha: [19/04/2025]
Ejercicio: [XML CON XSDIII EJ3]
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="precios">
 <xs:complexType>
 <xs:sequence>
 <xs:element name="precio" maxOccurs="unbounded">
 <xs:complexType>
 <xs:simpleContent>
 <xs:extension base="xs:decimal">
 <xs:attribute name="moneda" type="xs:string" />
 </xs:extension>
 </xs:simpleContent>
 </xs:complexType>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
</xs:schema>